.cards {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 240px);
  column-gap: 100px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  width: 920px;
}

@media screen and (max-width: 768px) {
  .cards {
    column-gap: 0;
  }
}

@media screen and (max-width: 425px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}