.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .header__square-pic {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 425px) {
  .header__square-pic {
  	width: 400px;
  	height: 400px;
  }	
}