.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

@media screen and (max-width: 425px) {
  .footer__column_content_copyright {
  	flex-basis: 0;
  }	
}