.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin: 0;
  margin-bottom: 36px;
}

@media screen and (max-width: 425px) {
  .khan__quote {
  	width: 100%;
  	font-size: 16px;
  	line-height: 1.9;
  	margin-bottom: 25px;
  }	
}