.logo_place_footer {
  width: 183px;
  height: 35px;
  background-image: url('../../../images/logo_place_footer.svg');
}

@media screen and (max-width: 425px) {
  .logo_place_footer {
    margin-bottom: 50px;
  }	
}