.logo_place_header {
  position: absolute;
  display: flex;
  top: 30px;
  left: 64px;
}

@media screen and (max-width: 425px) {
  .logo_place_header {
  	width: 100px;
  	height: 20px;
  	left: 24px;
  }	
}