.section-title {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .section-title {
    width: 100%;
  }  
}

@media screen and (max-width: 425px) {
  .section-title {
    font-size: 50px;
    text-align: center;
  }
}