.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  justify-content: center;
  font-weight: normal;
  display: flex;
  width: 60%;
  margin: 0;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .section-subtitle {
    text-align: center; 
  }  
}

@media screen and (max-width: 425px) {
  .section-subtitle {
    font-size: 20px;
    text-align: center;
    width: 90%;
  }
}