.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
}

@media screen and (max-width: 425px) {
  .footer__columns {
  	flex-direction: column;
  	margin: 40px 25px 0;
  }	
}