.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .khan__author {
  	font-size: 24px;
  }
}

@media screen and (max-width: 425px) {
  .khan__author {
  	font-size: 18px;
  }	
}