.khan {
  display: flex;
  padding-top: 105px;
  background-color: #f2f2f2 ;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .khan {
  	padding-top: 70px;
  	padding-bottom: 25px;
  }	
}
