.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  .two-columns__span-accent {
  	font-size: 16px;
  	line-height: 23px;
  }  	
}
