.feinman__link {
  color: #000000;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
}

.feinman__link::after {
  background-color: #000000;
    position: absolute;
    left: 50%;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    transition: width .3s ease-in-out;
    transform:translateX(-50%)
}

.feinman__link:hover {
  opacity: 0.75;
}

.feinman__link:hover::after,
.feinman__link:focus::after {
  width: 100%;
  opacity: 0.75;
}
