.feinman__link {
  color: #000000;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
}

.feinman__link:hover {
  opacity: 0.55;
  transition: opacity 0.1s ease-in-out 0.1s;
}

@media screen and (max-width: 425px) {
  .feinman__link {
    font-size: 26px;
    top: 40%;
    right: 25%;
    margin: 20px;
    z-index: 1;
  }  
}
