.feinman__title {
  margin: 0;
  padding: 0;
  position: relative;
  justify-content: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  text-align: center;
  z-index: 1;
}
