.techniques {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 100px;
}

@media screen and (max-width: 425px) {
  .techniques {
  	margin-top: 70px;
  }	
}