.video__iframe {
  right: 50%;
  width: 515px;
  height: 316px;
  margin-right: 20px;
  border: 0;
}

.video__iframe:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .video__iframe {
  	width: 350px;
  	height: 220px;
  }
}

@media screen and (max-width: 425px) {
  .video__iframe {
  	height: 250px;
  	margin: 0 0 20px;
  }	

  .video__iframe:last-child {
  	margin: 0;
  }
}
