.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
}
.two-columns__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .two-columns__paragraph {
    font-size: 18px;
    line-height: 1.6;
  }
}

@media screen and (max-width: 425px) {
  .two-columns__paragraph {
  	font-size: 16px;
  	line-height: 1.5;
  }	
}
