.table__cell {
  width: 250px;
  margin-bottom: 60px;
}
.table__cell:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .table__cell:nth-last-child(-n + 4) {
    margin-bottom: 40px;
  }   
}

@media screen and (max-width: 425px) {
  .table__cell {
    width: 100%;
  }	

  .table__cell:nth-last-child(-n + 4) {
  	margin-bottom: 45px;
  }	

  .table__cell:last-child {
  	margin-bottom: 25px;
  }
}