.table {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
  width: 1100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 425px) {
  .table {
  	margin: 60px 25px 0;
  }	
}
