.resources__logo-zone {
  list-style-type: none;
  margin: 0;
  margin-top: 80px;
  width: 1100px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .resources__logo-zone {
    flex-direction: column;
  }  
}

@media screen and (max-width: 425px) {
  .resources__logo-zone {
  	flex-direction: column;
  	padding: 0;
  	margin-top: 40px; 
  }	
}