.header__subtitle {
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 98;
}

@media screen and (max-width: 425px) {
  .header__subtitle {
  	left: 24px;
  	top: 210px;
  	font-size: 16px;
    line-height: 1.4;
  }	
}