.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

@media screen and (max-width: 425px) {
  .two-columns {
  	flex-direction: column;
  	width: 100%;
  	margin: 0 25px; 
  }	
}
