.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: contain;
  position: absolute;
  right: -210px;
  top: 0;
}

@media screen and (max-width: 425px) {
  .kaufman__triangle {
    width: 800px;
  	height: 800px;
  	top: 20%;
  }	
}