.feinman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  min-height: 790px;
  margin: 0;
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .feinman {
    padding-top: 50px;
  }
}

@media screen and (max-width: 425px) {
  .feinman {
  	min-height: 500px;
  }	
}
