.feinman__subtitle {
  position: relative;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 0;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .feinman__subtitle {
    margin: 0;
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  .feinman__subtitle {
  	font-size: 26px;
  	margin: 0;
  }	
}
