.resources__logo {
  width: 270px;
  height: 38px;
  background-size: contain;
}

.resources__logo:hover {
	opacity: 0.5;
	transition: opacity 0.1s ease-in-out 0.1s;
}

@media screen and (max-width: 768px) {
  .resources__logo {
  	width: 100%;
    height: 60px;
    padding-bottom: 45px; 
  }
}

@media screen and (max-width: 425px) {
  .resources__logo {
  	width: 100%;
  	margin-bottom: 40px;
  }
}