.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .table__heading {
  	font-size: 20px;
  }	
}
