.table__cell_theme_dark {
  margin-bottom: 80px;
  width: 200px;
}

.table__cell_theme_dark:nth-last-child(-n + 5) {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .table__cell_theme_dark {
    margin-bottom: 40px;
  }

  .table__cell_theme_dark:nth-last-child(-n + 5) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 425px) {
  .table__cell_theme_dark {
  	margin-bottom: 40px;
  	width: 100%;
  }

  .table__cell_theme_dark:nth-last-child(-n + 5) {
  	margin-bottom: 40px;
  }
}
