.khan__book-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .khan__book-container {
  	flex-direction: column;
  }		
}

@media screen and (max-width: 425px) {
  .khan__book-container {
  	flex-direction: column;
  }	
}
