.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.55;
  transition: opacity 0.1s ease-in-out 0.1s;
}

@media screen and (max-width: 768px) {
  .khan__buy-link {
    font-size: 25px;
    line-height: 0.6;
  }
}

@media screen and (max-width: 425px) {
  .khan__buy-link {
  	font-size: 20px;
    padding-top: 20px;
  }	
}